[color]
  ui = auto
[pager]
  #log = diff-highlight | less
  #show = diff-highlight | less
  #diff = diff-highlight | less
[core]
  excludesfile = ~/dotfiles/.gitignore
	editor = /usr/bin/vim
  pager = less -r
	excludesfile = /Users/cancer/dotfiles/.globalignore
[alias]
  a = !git add . && git status
  aa = !git add -A && git status
  b = branch -a
  c = commit
  ca = commit -a
  co = checkout
  d = diff
  #l = log
  lg = log --graph --decorate --pretty=oneline --abbrev-commit --all
  ln = log --name-status
  ls = log --stat
  lo = log --oneline
  s = !tig status
  l = !tig
  #lg = !tig
  #ln = !tig
  #ls = !tig
  #lo = !tig
  #s = !tig status
  st = stash
  ignore = !"f( { local s=$1; shift; \
      while [ $# -gt 0 ]; do s="$s,$1"; shift; done;\
      curl "http://gitignore.io/api/$s"; }; f"
  delete-merged-branches = !git branch --merged | grep -v '*' | xargs -I % git branch -d %
[push]
  default = simple
	autoSetupRemote = true
[user]
  name = cancer
  email = zodiac.cancer.j6@gmail.com
[merge]
  ff = false
[pull]
  rebase = true
[browse-remote "github.com"]
	top = https://{host}/{path}
	ref = https://{host}/{path}/tree/{short_ref}
	rev = https://{host}/{path}/commit/{commit}
	pr = https://{host}/{path}/pull/{short_ref}
	file = "https://{host}/{path}/{file.directory? and :tree or :blob}/{short_rev}/{file}{lines && \"#L%s\" % lines.join(\"-\")}"
[init]
	defaultBranch = main
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
