[color]
  ui = auto
[core]
  excludesfile = ~/dotfiles/.gitignore
  editor = vi
  pager = less -r
[alias]
  a = !git add . && git status
  aa = !git add -A && git status
  b = branch -a
  c = commit
  ca = commit -a
  co = checkout
  d = diff
  l = log
  lg = log --graph --decorate --pretty=oneline --abbrev-commit --all
  ln = log --name-status
  ls = log --stat
  lo = log --oneline
  s = status
  st = stash
  ignore = !"f( { local s=$1; shift; \
      while [ $# -gt 0 ]; do s="$s,$1"; shift; done;\
      curl "http://gitignore.io/api/$s"; }; f"
